body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, 'Lucida Grande', Verdana, 'Microsoft Yahei', STXihei, hei;
  color: #000;
  background-color: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
div {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #222;
}
.search-index {
  display: flex;
  position: fixed;
  width: 100%;
  height: 44px;
  background-color: #4db2ee;
  min-width: 320px;
  max-width: 540px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.search {
  margin: 7px 10px;
  border-radius: 5px;
  height: 28px;
  line-height: 24px;
  padding: 2px 5px;
  border-radius: 15px;
  background-color: #fff;
  color: #666;
  font-size: 0.94rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.search span {
  padding-left: 35px;
}
.search span::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 100%;
  overflow: hidden;
  background: url(//pic.c-ctrip.com/platform/h5/home/home-common-sprite2x@v7.15.png) 15px 7px no-repeat;
  background-size: 21px auto;
  content: '';
}
.user {
  width: 44px;
  height: 44px;
  background-color: #4db2ee;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.user::before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  margin: 4px auto -1px;
  background: url(../images/home-common-sprite2x@v7.15.png) 1px -36px no-repeat;
  background-size: 21px auto;
}
.focus {
  margin-top: 44px;
}
.focus img {
  width: 100%;
}
.local-nav {
  background-color: #fff;
  border-radius: 8px;
  margin: 3px 4px;
  display: flex;
}
.local-nav li {
  flex: 1;
}
.local-nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.local-nav li a [class^='local-nav-icon'] {
  height: 40px;
  width: 40px;
  background-color: pink;
  margin-top: 8px;
  background: url(../images/home-fivemain-sprite2x@v7.15.png) 0px 0px no-repeat;
  background-size: 40px auto;
}
.local-nav li a .local-nav-icon-icon2 {
  background-position: 0 -40px;
}
.local-nav li a .local-nav-icon-icon3 {
  background-position: 0 -80px;
}
.local-nav li a .local-nav-icon-icon4 {
  background-position: 0 -120px;
}
.local-nav li a .local-nav-icon-icon5 {
  background-position: 0 -160px;
}
nav {
  overflow: hidden;
  border-radius: 8px;
  margin: 0 4px 3px;
}
nav .nav-common {
  display: flex;
  height: 88px;
  background-color: pink;
}
nav .nav-common:nth-child(1) {
  background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}
nav .nav-common:nth-child(2) {
  margin: 3px 0;
  background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}
nav .nav-common:nth-child(3) {
  background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}
nav .nav-common .nav-items {
  flex: 1;
  display: flex;
  flex-direction: column;
}
nav .nav-common .nav-items:nth-child(-n + 2) {
  border-right: 1px solid #fff;
}
nav .nav-common .nav-items a {
  flex: 1;
  text-align: center;
  font-size: 14px;
  line-height: 44px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
}
nav .nav-common .nav-items a:nth-child(1) {
  border-bottom: 1px solid #fff;
}
nav .nav-common .nav-items:nth-child(1) a {
  border: 0;
  background: url(../images/grid-nav-items-hotel@v7.15.png) no-repeat bottom center;
  background-size: 120px auto;
}
.subnav-entry {
  background-color: #fff;
  border-radius: 8px;
  margin: 3px 4px;
  display: flex;
  flex-wrap: wrap;
}
.subnav-entry li {
  flex: 20%;
}
.subnav-entry li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.subnav-entry li a .subnav-entry-icon {
  width: 28px;
  height: 28px;
  background-color: pink;
  margin-top: 4px;
  background: url(../images/un_ico_subnav2x@v7.152.png) no-repeat 0px calc(28px - 28px * var(--i));
  background-size: 28px auto;
}
.sales-box {
  border-top: 1px solid #bbb;
  background-color: #fff;
  margin: 4px;
}
.sales-box .sales-hd {
  height: 44px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.sales-box .sales-hd h2 {
  text-indent: -999px;
  overflow: hidden;
  position: relative;
}
.sales-box .sales-hd h2::after {
  position: absolute;
  top: 4px;
  left: 18px;
  content: '';
  width: 79px;
  height: 15px;
  background: url(../images/un_home_text.png) no-repeat 0 -20px;
  background-size: 79px, auto;
}
.sales-box .sales-hd .more {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #fff;
  background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
  border-radius: 15px;
  padding: 3px 20px 2px 10px;
}
.sales-box .sales-hd .more::after {
  content: '';
  position: absolute;
  top: 9px;
  right: 9px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
}
.sales-box .sales-bd .row {
  display: flex;
}
.sales-box .sales-bd .row a {
  flex: 1;
  border-bottom: 1px solid #eee;
}
.sales-box .sales-bd .row a img {
  width: 100%;
}
.sales-box .sales-bd .row a:nth-child(1) {
  border-right: 1px solid #eee;
}
